@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme labchat {
  --color-labchat-blue-50: rgb(232, 240, 246);
  --color-labchat-blue-100: rgb(188, 199, 220);
  --color-labchat-blue-200: rgb(156, 172, 213);
  --color-labchat-blue-300: rgb(111, 134, 193);
  --color-labchat-blue-400: rgb(83, 96, 181);
  --color-labchat-blue-500: rgb(40, 54, 163);
  --color-labchat-blue-600: rgb(34, 46, 148);
  --color-labchat-blue-700: rgb(28, 35, 116);
  --color-labchat-blue-800: rgb(22, 24, 80);
  --color-labchat-blue-900: rgb(17, 19, 68);

  --color-labchat-light-blue-50: rgb(241, 247, 253);
  --color-labchat-light-blue-100: rgb(212, 233, 248);
  --color-labchat-light-blue-200: rgb(185, 209, 245);
  --color-labchat-light-blue-300: rgb(161, 180, 241);
  --color-labchat-light-blue-400: rgb(135, 151, 238);
  --color-labchat-light-blue-500: rgb(96, 130, 234);
  --color-labchat-light-blue-600: rgb(106, 142, 213);
  --color-labchat-light-blue-700: rgb(82, 111, 168);
  --color-labchat-light-blue-800: rgb(63, 86, 129);
  --color-labchat-light-blue-900: rgb(48, 66, 98);

  --color-labchat-magenta-50: rgb(250, 237, 241);
  --color-labchat-magenta-100: rgb(236, 195, 211);
  --color-labchat-magenta-200: rgb(229, 126, 189);
  --color-labchat-magenta-300: rgb(226, 136, 189);
  --color-labchat-magenta-400: rgb(205, 95, 161);
  --color-labchat-magenta-500: rgb(193, 62, 140);
  --color-labchat-magenta-600: rgb(176, 56, 102);
  --color-labchat-magenta-700: rgb(137, 44, 80);
  --color-labchat-magenta-800: rgb(106, 34, 62);
  --color-labchat-magenta-900: rgb(81, 26, 47);

  --color-labchat-warning-50: rgb(254, 242, 230);
  --color-labchat-warning-100: rgb(252, 214, 176);
  --color-labchat-warning-200: rgb(251, 196, 138);
  --color-labchat-warning-300: rgb(247, 167, 84);
  --color-labchat-warning-400: rgb(244, 150, 51);
  --color-labchat-warning-500: rgb(247, 167, 0);
  --color-labchat-warning-600: rgb(223, 136, 0);
  --color-labchat-warning-700: rgb(182, 88, 0);
  --color-labchat-warning-800: rgb(142, 68, 0);
  --color-labchat-warning-900: rgb(103, 52, 0);

  --color-labchat-success-50: rgb(238, 246, 248);
  --color-labchat-success-100: rgb(213, 226, 226);
  --color-labchat-success-200: rgb(184, 211, 211);
  --color-labchat-success-300: rgb(160, 196, 196);
  --color-labchat-success-400: rgb(134, 182, 182);
  --color-labchat-success-500: rgb(87, 175, 175);
  --color-labchat-success-600: rgb(64, 161, 161);
  --color-labchat-success-700: rgb(43, 146, 146);
  --color-labchat-success-800: rgb(33, 113, 113);
  --color-labchat-success-900: rgb(10, 89, 89);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .discussion-thread {
    @apply p-2 m-auto bg-gray-100 rounded-2xl flex justify-between flex-col shadow-lg
  }
  .discussion-topic-filter-button {
    @apply bg-blue-400 text-gray-50 rounded-[12px] px-2 py-0.5
  }
}

.play-font {
  font-family: var(--font-play), sans-serif;
}

.barlow-font {
  font-family: var(--font-barlow), sans-serif;
}